fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-multipart
pypdf
groq
python-docx
python-pptx
reportlab
pandas
openpyxl
xlrd>=2.0.1
PyMuPDF
google-generativeai
chromadb
pdfplumber
